{% extends 'main.html' %}

{% block content %}

<!-- Card starts -->
<div class="px-6 pt-6">
    <div class="grid gap-6">
        <div class="md:col-span-2 lg:col-span-1" >
            <div class="h-full py-8 px-6 space-y-6 rounded-xl border border-gray-200 bg-white">
                
                <!-- table starts -->
                
                        <div class="flex items-center justify-center font-sans overflow-hidden">
                            <div class="w-5/6 bg-white shadow-md rounded my-6">
                                <table class="min-w-max w-full table-auto">
                                    <thead>
                                        <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
                                            <th class="py-3 px-6 text-left">Player</th>
                                            <th class="py-3 px-6 text-left">Payable</th>
                                        </tr>
                                    </thead>
                                    <tbody class="text-gray-600 text-sm font-light">
                                        {% for fund in funds %}
                                        <tr class="border-b border-gray-200 hover:bg-gray-100">
                                            <td class="py-3 px-6 text-left whitespace-nowrap">
                                                <span class="font-medium">{{fund.name}}</span>
                                            </td>
                                            <td class="py-3 px-6 text-left">
                                                <span>{{fund.payable}}</span>
                                            </td>
                                        </tr>
                                        {% endfor %}                           
                                    </tbody>
                                </table>
                            </div>
                        </div>
                
                <!-- table ends -->

            </div>
        </div>                
    </div>
</div>
<!-- Card ends -->

{% endblock content %}