{% extends 'main.html' %}
{% load humanize %}

{% block main %}

<!--Totals card -->

<div class="mt-4 w-full grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">
    <div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8 ">
        <div class="flex items-center">
            <div class="flex-shrink-0">
                <span class="text-2xl sm:text-3xl leading-none font-bold text-gray-900">{{player.name}}</span>
                <h3 class="text-base font-normal text-gray-500">Pending contributions: Rs.{{balance.amount__sum|intcomma}}</h3>
            </div>
        </div>
    </div>
</div>

<!--End Totals card -->
    
        

<div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8">
    <div class="mb-4 flex items-center justify-between">
        <div>
            <h3 class="text-xl font-bold text-gray-900 mb-2">Pending contributions</h3>
            <span class="text-base font-normal text-gray-500">Player wise details of contributions pending</span>
        </div>
    </div>
    <div class="flex flex-col mt-8">
        <div class="overflow-x-auto rounded-lg">
            <div class="align-middle inline-block min-w-full">
            <div class="shadow overflow-hidden sm:rounded-lg">
                <table class="min-w-full divide-y divide-gray-200">
                    <thead class="bg-gray-50">
                        <tr>
                        <th scope="col" class="p-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            Match date
                        </th>
                        <th scope="col" class="p-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            Amount
                        </th>
                        {% if user.is_authenticated %}
                        <th scope="col" class="p-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            Actions
                        </th>
                        {% endif %}
                        </tr>
                    </thead>
                    <tbody class="bg-white">
                        {% for match in pending_contributions %}
                        
                            <tr>
                                <td class="p-4 whitespace-nowrap text-sm font-normal text-gray-900">
                                    {{match.date}}
                                </td>
                                <td class="p-4 whitespace-nowrap text-sm font-semibold text-gray-900">
                                    Rs. {{match.amount|intcomma}}
                                </td>
                                {% if user.is_authenticated %}
                                <td class="p-4 text-sm font-semibold">
                                    <a href={% url 'fee_status_change' pk=match.id %}><button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                                        Mark as paid
                                    </button>
                                </a>
                                </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>
</div>

{% endblock main %}